<audio #audio
  controls
  preload="metadata"
  autoplay
  (play)="refresh()"
  (pause)="refresh()"
  (ended)="refresh()"
>
  <source [src]="morceau.mp3" type="audio/mpeg">
</audio>

<button mat-icon-button
  (click)="close()"
>
  <mat-icon>close</mat-icon>
</button>
