<button
  mat-button
  (click)="create()"
>
  Nouveau morceau
</button>

<mat-table
  [dataSource]="morceaux$"
  [trackBy]="trackBy"
>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let m">
      <mat-form-field appearance="standard">
        <input matInput
          [value]="m.name"
          placeholder="Nouveau morceau"
          (change)="update(m, 'name', $any($event.target).value)">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mp3">
    <mat-header-cell *matHeaderCellDef>MP3</mat-header-cell>
    <mat-cell *matCellDef="let m">
      <mat-form-field appearance="standard">
        <input matInput
          [value]="m.mp3"
          (change)="update(m, 'mp3', $any($event.target).value)">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let m">
      <button mat-icon-button
        (click)="openDescription(m)"
      >
        <mat-icon>description</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<ng-template #descriptionDialog let-data>
  <mat-form-field appearance="standard" class="description-field">
    <textarea matInput cdkTextareaAutosize
      [value]="data.m.description"
      (change)="update(data.m, 'description', $any($event.target).value)">
    </textarea>
  </mat-form-field>
</ng-template>
