.cdk-cell {
  margin: 0 4px;
}

.cdk-column-name,
.cdk-column-mp3 {
  flex: 1;
  > .mat-form-field {
    width: 100%;
  }
}
.cdk-column-description {
  flex: 0;
  min-width: 60px;
}

.description-field {
  width: 100%;
}
