<div class="header soft-color">
  {{ nameServ.getLabel(group) }}
</div>

<app-group-table [group]="group">
</app-group-table>

<mat-divider></mat-divider>

<app-matches [group]="group">
</app-matches>
