:host {
  padding: 16px;
  display: block;

  > .mat-card {
    margin: 0 auto;
    max-width: 450px;

    form {
      margin-top: 4px;
      text-align:center;
    
      .mat-spinner {
        margin: 0 auto;
      }
    }

  }
}

