<div class="date">
  {{ match.date.toDate() | date:'longDate' }}
</div>

<a [routerLink]="['/match', match.id]" matRipple>

<table>
  <tr>
    <td class="title-col">
      <span
        *ngIf="match.left as m; else leftDesc"
      >
        {{ (morceauServ.getMorceau$(m) | async)?.name }}
      </span>
      <ng-template #leftDesc>{{ match.leftDesc }}</ng-template>
    </td>
    <td class="score-col">
      {{ match.leftPoints }}
    </td>
  </tr>
  <tr>
    <td class="title-col">
      <span
        *ngIf="match.right as m; else rightDesc"
      >
        {{ (morceauServ.getMorceau$(m) | async)?.name }}
      </span>
      <ng-template #rightDesc>{{ match.rightDesc }}</ng-template>
    </td>
    <td class="score-col">
      {{ match.rightPoints }}
    </td>
  </tr>
</table>

</a>
