:host {
  display: block;
  margin: 16px 0;

  a {
    text-decoration: none;
    display: block;
  }

  .date {
    font-style: italic;
  }

  table {
    border-collapse: collapse;
    td {
      border: 2px solid #bdbdbd;
    }
  
    .title-col {
      min-width: 215px;
      padding: 4px;
    }
    .score-col {
      min-width: 30px;
      padding: 4px;
    }
  }
}

