<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/"
      aria-label="Page d'accueil">
        FIFA World Clique 2022
    </a>

    <span class="spacer"></span>

    <app-user></app-user>

  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link
      routerLink="matches"
      routerLinkActive #l0="routerLinkActive"
      [active]="l0.isActive">
    Matches
  </a>
  <a mat-tab-link
      routerLink="morceaux"
      routerLinkActive #l1="routerLinkActive"
      [active]="l1.isActive">
    Morceaux
  </a>
  <a mat-tab-link
      routerLink="groupes"
      routerLinkActive #l2="routerLinkActive"
      [active]="l2.isActive">
      Phase de groupes
  </a>
  <a mat-tab-link
      routerLink="eliminations"
      routerLinkActive #l3="routerLinkActive"
      [active]="l3.isActive">
    Phase à élimination directe
  </a>
  <a mat-tab-link
      routerLink="infos"
      routerLinkActive #l4="routerLinkActive"
      [active]="l4.isActive">
    Infos
  </a>
</nav>

<mat-card class="app-content">
  <router-outlet></router-outlet>
</mat-card>
