<button mat-button (click)="service.initGroups()">
  Initialisation des groupes
</button>
<button mat-button (click)="service.initMatches()">
  Initialisation des matches
</button>
<button mat-button (click)="service.endMatches()">
  Fin de matches
</button>


<app-morceau-admin></app-morceau-admin>

<app-group-admin></app-group-admin>
