.mat-table {
  width: 100%;
}

.mat-cell {
  width: 32px;

  &.mat-column-name {
    width: 200px;
  }
  &.mat-column-points {
    font-weight: bold;
  }
}

.mat-row.qualified {
  background-color: #C8E6C9;
}
.mat-row.eliminated {
  background-color: #FFCDD2;
}
