:host {
  display: block;

  > .mat-spinner {
    margin: 0 auto;
  }

  > .matches {
    display: flex;
    flex-wrap: wrap;

    > app-mini-match {
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      width: 50%;
      outline: 1px solid rgba(0,0,0,.12);
    }
  }
}
