a {
  text-decoration: none;

  display: flex;
  align-items: center;

  padding: 8px;
  height: 140px;
  box-sizing: border-box;

  > .teams {
    flex: 1;

    display: flex;
    flex-direction: column;

    > .team {
      display: flex;
      align-items: center;

      padding: 6px 6px;

      > .team-name {
        flex: 1;
      }
      > .team-score {
        width: 20px;
      }
      > .win-icon {
        visibility: hidden;
      }

      &.team-winner {
        font-weight: bold;
        > .win-icon {
          visibility: visible;
        }
  
      }
      &.team-loser {
        color: rgba(0,0,0,0.50);
      }
    }
  }

  > .timing {
    width: 75px;
    text-align: center;

    > .tie {
      font-weight: bold;
    }
  }
}