:host {
  display: block;

  > .mat-spinner {
    margin: 0 auto;
  }

  > .morceaux {
    display: flex;
    flex-wrap: wrap;

    > app-mini-morceau {
      width: 25%;
      outline: 1px solid rgba(0,0,0,.12);
    }
  }
}
