<img src="assets/2022_FIFA_World_Clique.png" class="logo">

<h1>FIFA World Clique 2022</h1>

<p>
  Bienvenue dans cette compétition qui va couronner
  pour la deuxième fois
  <strong>Le meilleur morceau de la Clique</strong>
  de la Royale Garde Saint-Jean de Herve.
</p>

<p>
  Pour cela, on a besoin de vous, cliquards, jeunes de l'académie, et sympathisants.
  Votez pour vos morceaux préférés lors des 64 matches qui vont
  se jouer du 20 novembre au 18 décembre.
</p>

<p>
  Chaque match oppose deux morceaux de la Clique. Votez simplement pour votre préféré.
</p>
<p>
  Jusqu'au 2 décembre, a lieu <a routerLink="groupes">la phase de groupe</a>
  avec les 32 morceaux répartis en 8 groupes.
</p>

<p>
  Ensuite, jusqu'au 18 décembre, a lieu <a routerLink="eliminations">la phase à élimination directe</a>.
  Les 16 morceaux qualifiés s'affronteront à nouveau
  pour au final n'en garder qu'un seul.
</p>

<h2>Matches récents</h2>

<div class="matches">
  <ng-container #recentMatches></ng-container>
</div>

<a mat-stroked-button
    routerLink="matches"
    class="big-next"
>Voir tous les prochains matches</a>
