/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: inherit;
}

.mat-tab-links {
  justify-content: center;
}

.soft-color {
  color: rgba(0,0,0,0.50);
}
