  <div class="content">
    <div class="team team-left">
      <app-morceau
        *ngIf="match.left as m; else leftDesc"
        [morceau]="morceauServ.getMorceau$(m) | async">
      </app-morceau>

      <ng-template #leftDesc>
        <div class="description">{{ match.leftDesc }}</div>
      </ng-template>

      <div class="vote vote-left" *ngIf="(user.isConnected | async)">
        <mat-spinner diameter="36" *ngIf="loadingVote"></mat-spinner>
        <button mat-flat-button
          *ngIf="!loadingVote && match.left as m"
          matTooltip="Voter pour {{ (morceauServ.getMorceau$(m) | async)?.name }}"
          [disabled]="!votable"
          [color]="(isVoteForLeft | async) ? 'primary': ''"
          (click)="voteFor('left')">
          <mat-icon>
            <ng-container *ngIf="(isVoteForLeft | async); else noVote">check_circle</ng-container>
            <ng-template #noVote>radio_button_unchecked</ng-template>
          </mat-icon>
          Voter
        </button>
      </div>
    </div>

    <div class="score">
      <div class="versus soft-color" *ngIf="!match.winner">
        contre
      </div>
      <div class="points" *ngIf="match.winner">
        {{ match.leftPoints }} - {{ match.rightPoints }}
      </div>

      <ng-container *ngIf="match.winner === 'tie'">
        <div class="tie">
          Match nul
        </div>
        <div class="tie-desc soft-color" *ngIf="match.leftPoints !== match.rightPoints">
          Une différence de moins de {{ tieDiff }}
          points est considérée comme match nul.
        </div>
      </ng-container>
    </div>

    <div class="team team-right">
      <app-morceau
        *ngIf="match.right as m; else rightDesc"
        [morceau]="morceauServ.getMorceau$(m) | async">
      </app-morceau>

      <ng-template #rightDesc>
        <div class="description">{{ match.rightDesc }}</div>
      </ng-template>

      <div class="vote vote-right" *ngIf="(user.isConnected | async)">
        <mat-spinner diameter="36" *ngIf="loadingVote"></mat-spinner>
        <button mat-flat-button
          *ngIf="!loadingVote && match.right as m"
          matTooltip="Voter pour {{ (morceauServ.getMorceau$(m) | async)?.name }}"
          [disabled]="!votable"
          [color]="(isVoteForRight | async) ? 'primary': ''"
          (click)="voteFor('right')">
          <mat-icon>
            <ng-container *ngIf="(isVoteForRight | async); else noVote">check_circle</ng-container>
            <ng-template #noVote>radio_button_unchecked</ng-template>
          </mat-icon>
          Voter
        </button>
      </div>
    </div>
  </div>

  <div class="actions">
    <a mat-button color="primary"
        *ngIf="votable && (user.isConnected | async) === false"
        routerLink="/login" [queryParams]="{from: router.url}">
      <mat-icon>login</mat-icon>Se connecter pour voter
  </a>
    <button mat-button color="warn"
        *ngIf="votable && !loadingVote && (user.isConnected | async) && (vote$ | async) !== undefined"
        (click)="voteFor()">
      Supprimer mon vote
    </button>
  </div>
