.header {
  display: flex;
  margin: 12px;

  > * {
    margin-right: 4px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .next-match, .prev-match {
    line-height: 4px;
  }
}

.footer {
  text-align: center;
  margin: 16px;
}
