:host {
  margin: 16px 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > .score {
      flex: 1;
      text-align: center;

      > .versus {
        
      }

      > .points {
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        white-space: nowrap;
        word-spacing: 20px;
      }

      > .tie {
        font-weight: bold;
        font-size: x-large;
        line-height: 40px;

      }
      > .tie-desc {
        font-size: smaller;
      }
    }

    > .team {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .description {
        text-align: center;
        font-style: italic;
      }

      > .vote {
        > .mat-spinner {
          margin: 0 32px;
        }
        > .mat-button-base {
          min-width: 100px;
        }
      }
    }
  }
}
