<div class="header">
  <span>Match Clique</span> 
  <span class="soft-color"> · </span>
  <span class="soft-color">
    {{ match.date.toDate() | date:'EEEE d/M' }}<ng-container *ngIf="!match.winner">,
      {{ match.date.toDate() | date:'shortTime' }}
    </ng-container>
  </span>

  <span class="spacer"></span>

  <a mat-stroked-button
    class="prev-match"
    *ngIf="prev$ | async as prev"
    [routerLink]="['..', prev.id]"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <a mat-stroked-button
    class="next-match"
    *ngIf="next$ | async as next"
    [routerLink]="['..', next.id]"
  >
    <mat-icon>arrow_forward</mat-icon> Suivant
  </a>
</div>

<app-match
  [match]="match">
</app-match>

<div class="footer soft-color">
  {{ typeServ.getLabel(match.type, group) }}
</div>

<mat-divider></mat-divider>

<app-group-table *ngIf="group"
  [group]="group"
></app-group-table>
