:host {
  display: flex;
  align-items: center;

  > .bracket {
    display: flex;
    align-self: stretch;
    > .left, .right {
      border-style: solid;
      border-color: #bdbdbd;
      width: 16px;
      align-self: center;
      margin-top: 20px;
    }
    > .left {
      border-width: 2px 2px 2px 0;
      border-radius: 0 8px 8px 0;
      height: 50%;
    }
    > .right {
      border-width: 2px 0 0 0;
      height: 0;
    }
  }
}
